@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin 'tailwindcss-motion';

@custom-variant dark (&:where(.dark, .dark *));

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  @apply bg-white dark:bg-black text-black dark:text-white;
}